@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&family=JetBrains+Mono:wght@400;500;700;800&family=Inter:wght@400;500;700;900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", "Helvetica Neue", Arial, sans-serif;
  --font-mono: "JetBrains Mono", monospace;
  --font-serif: "Space Grotesk", sans-serif;
}

body {
  background-color: #000000;
  color: #ffffff;
  margin: 0;
  padding: 0;
}
